body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    background-color: white;
}
button {
    cursor: pointer;
}
#cuerpo {
    height: 100%;
    width: 40%;
    margin: 0 auto;
}
#opciones, #panel-juego, #resultado {
    height: 100%;
    width: 100%;
}
#panel-juego, #resultado {
    display: none;
}
#btnEquis, #btnCruz {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 60% 60%;
    background-position: center;
    border: none;
}
#btnEquis {
    background-image: url('img/equis.png');
}
#btnCruz {
    background-image: url('img/circulo.png');
}
